@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Francois One", sans-serif;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

/* Navbar Styling */
.nav-title {
  letter-spacing: 2px;
  color: rgb(13, 38, 61);
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  height: 40px;
}

.nav-container {
  background-color: rgb(54, 184, 199);
}

.my-nav {
  width: 95%;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link-group {
  display: flex;
}

.nav-link-item {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
}

#connect-button {
  border-radius: 20px;
  border-width: 1px;
  font-size: 12px;
  background-image: linear-gradient(to right, #051937, #003150, #004964);
  color: aliceblue;
  padding: 10px 15px;
  font-weight: 700;
}

#connect-button:hover {
  cursor: pointer;
  background-color: #004964;
}

.nav-active {
  background-color: rgb(13, 38, 61);
  border-radius: 5px;
}
/* End Navbar Styling */

/* Used in verification, companyPage, login */
.mainPage {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
