#connect-button{ 
    border-radius: 20px; 
    background-color: aquamarine;
    padding: 15px 30px;    
    margin-left: 1200px;
    display: inline-block;
    font-weight: bold;
}

.nav li {
    list-style: none;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px; 
    padding: 15px 20px; 
}

a {
    text-decoration: none;
}

.intro {
    display: inline-block; 
    text-align: center;
    height: 10%; 
    width: 15%;  
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-right: 20px; 
    padding-bottom: 20px;
    border-radius: 15px;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#team-introduction, #view-wallet{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 20px; 
    font-weight: bold;
    font-size: larger
}

.team-member-intro{
    padding-left: 20px; 

}

.brief-info {
    margin: 5px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.photo{
    border-radius: 10px;
    box-shadow: 5px grey;
    padding-top: 20px;
}

.logo{
    display: inline-block;
}

.request{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 5px grey;
    background-color:#152238; 
    color:white; 
}

.request-button {
     padding: 10px 40px; 
     border-radius: 20px;
     font-weight: bold;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: white;
     color: #152238;
     position: relative;
     float: right;
    
}

/* CSS for companyPage and verification*/
.companyAccount{
    display: none;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.mainPage{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.showAccount,.companyAccount{
    padding: 20px;
}

.content, .details{
    margin: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.verifyButton{
    width: 805;
    border-radius: 20px; 
    background-color: aquamarine;
    border: 2px solid black;
    padding: 15px 30px; 
    /* display: inline-block; */
}