.my-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .nav-link-item {
    padding: 0 10px;
    font-size: 20px;
    font-weight: 700;
    /* margin: 0 20px; */
  }
  
  #connect-button {
    border-radius: 5px;
    font-size: 20px;
    background-color: aquamarine;
    padding: 5px 15px;
    border-color: none;
    font-weight: 700;
  }

a {
    text-decoration: none;
}

.intro {
    display: inline-block; 
    text-align: center;
    height: 10%; 
    width: 15%;  
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-right: 20px; 
    padding-bottom: 20px;
    border-radius: 15px;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#team-introduction, #view-wallet{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 20px; 
    font-weight: bold;
    font-size: larger
}

.team-member-intro{
    padding-left: 20px; 

}

.brief-info {
    margin: 5px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.photo{
    border-radius: 10px;
    box-shadow: 5px grey;
    padding-top: 20px;
}

.logo{
    display: inline-block;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.search-input {
    width: 99%;
    height: 50px;
}

.search-icon {
    border: solid;
    border-width: 1px;
    padding: 15px;
}
.request{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 15px 20px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 5px grey;
    background-color:#152238; 
    color:white; 
}

.request-button {
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
     font-weight: bold;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: white;
     color: #152238;
}