@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Acme", sans-serif;
}

body {
  background-color: rgb(167, 199, 255);
}

a {
  text-decoration: none;
}

.name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: 1em; */
}

#team-introduction {
}

.team-member-intro {
  display: flex;
  flex-direction: column;
}

.intro-container {
  margin: 20px 0;
}

.intro-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro-description h1 {
  font-size: 4rem;
  margin: 10px 0;
  text-decoration: underline;
}

.intro-description p {
  font-size: 2rem;
  width: 90%;
}

.intro-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro-details h2 {
  font-size: 40px;
  font-family: "Francois One", sans-serif;
}

.intro {
  display: grid;
  width: 90%;
  margin: 0 auto;
  height: 30vh;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 12px 0px #000000;
  box-shadow: 0px 0px 12px 0px #000000;
}

.intro:hover {
  -webkit-box-shadow: 0px 0px 26px 0px #000000;
  box-shadow: 0px 0px 26px 0px #000000;
}

.right {
  grid-template-columns: 2fr 1fr;
  transform: rotate(10deg);
}

.left {
  grid-template-columns: 1fr 2fr;
  transform: rotate(-10deg);
}

.brief-info {
  font-size: 1em;
}

.photo {
  width: 60%;
  max-width: 210px;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
}

.view-product-btn {
  background-color: rgb(87, 103, 131);
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.view-product-btn:hover {
  background-color: rgb(50, 60, 77);
  cursor: pointer;
}