.loginForm{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translate(0, -70%);
}

.loginForm button{
    margin-top: 20px;
    border-radius: 10px; 
    background-color: aquamarine;
}