.transaction-container {
  width: 95%;
  margin: 0 auto;
}

.transaction-form {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.companyAccount {
  display: none;
}

.styled-table {
  border: solid;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

#connect-button {
  background-color: rgb(13, 38, 61);
  color: white;
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 10px;
}

#connect-button:hover {
  color: rgb(13, 38, 61);
  background-color: white;
  cursor: pointer;
}
