<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../commonStyle.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Verifi</title>
  </head>
  <body>
    <div class="nav-container">
      <div class="my-nav">
        <div class="nav-link">
          <div class="nav-title"><h1>Verifi</h1></div>
          <!-- <div class="logo"><img src="../src/img/verifi.jpg" /></div> -->
          <div class="nav-link-group">
            <div class="nav-link-item">
              <a href="../companyPage/index.html" style="color: rgb(13, 38, 61)"
                >Transaction</a
              >
            </div>
            <div class="nav-link-item">
              <a
                href="../verification/index.html"
                style="color: rgb(13, 38, 61)"
                >Verification</a
              >
            </div>
            <div class="nav-link-item nav-active">
              <a href="index.html" style="color: white">View</a>
            </div>
            <div class="nav-link-item">
              <a href="../request/index.html" style="color: rgb(13, 38, 61)"
                >Request</a
              >
            </div>
          </div>
        </div>

        <div>
          <button class="logout-button" class="enableWallet">
            <a href="../login/" style="color: rgb(255, 255, 255)">Logout</a>
          </button>
        </div>
      </div>
    </div>
    <hr />

    <div class="view-container">
      <h1>View Contracts</h1>
      <div class="view-header view-header-header">
        <h3 class="vertically-center">Account Name</h3>
        <h3 class="vertically-center">Public Address</h3>
        <h3 class="vertically-center">Token</h3>
      </div>
      <div class="view-header">
        <p>Degree</p>
        <p>AI1h9aUnLha182Uxpo3ia4wLHsaAGX1sWg</p>
        <p>a18IAsaU21x1sWLpHaAh9XgUo3ia4wGnLh</p>
      </div>
      <div class="view-header">
        <p>Crypto.com</p>
        <p>ha1a4wL82UAGUnLhXAI1h1aUnLhAf2cE</p>
        <p>9aUnxpo3GX1sUWgAI1hia4wLHsaAa182hL</p>
      </div>
      <div class="view-header">
        <p>Binance</p>
        <p>h1aaLGUhAn82cEUn2UfLhXAI1L1a4wAh</p>
        <p>1hpHha1saAwoL82U9AIxsWGX13ia4gaUnL</p>
      </div>
      <div class="view-header">
        <p>SCSE</p>
        <p>aLGU1a2cEUn2fLhXAI4wAh1L1ahAn8hU</p>
        <p>1hpHsaAwoX13iaLAIxsWLG82ha1U94gaUn</p>
      </div>
      <div class="view-header">
        <p>Verifi</p>
        <p>a4hAn82cEUn1aaLG2UfLhXwAhhUAI1L1</p>
        <p>9AIsaAw13xha1ga2UoLia48GXsWUnL1hpH</p>
      </div>
      <div class="view-header">
        <p>Varsity</p>
        <p>UhEUn2UAn82f1LLhXA1ac1aaI4wAhhLG</p>
        <p>U9AInL1saAwoL82x1hsWGX13ia4gaUpHha</p>
      </div>
      <div class="view-header">
        <p>NBS</p>
        <p>GUa4whAn82cAEUn2UhfLhXAIh1a1L1aL</p>
        <p>a1sX1x3iaAwoL8IsW2U9AGaUnL14gahpHh</p>
      </div>
      <div class="view-header">
        <p>EEE</p>
        <p>82cAEU4whAnLhXAIh1a1L1an2UhfGUaL</p>
        <p>gah3iaAwoL8IsWpHha1s2UaUX1x9AGnL14</p>
      </div>
      <div class="view-header">
        <p>Youtube</p>
        <p>8a1L2cAEUn2U1hfLhXAIh1aLGUa4whAn</p>
        <p>3iaa1sX1hpHGxAwoL89AaaUnL14ghIsW2U</p>
      </div>
      <div class="view-header">
        <p>Iphone</p>
        <p>An82cGUhXUAEUn2hfL1aLAIh1a1La4wh</p>
        <p>x3iaAwoL8IsGaUnL1W2U9A4gahpHha1sX1</p>
      </div>
    </div>
  </body>
  <script src="../index.js"></script>
</html>
